*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Shared class */

.basic-btn{
  padding: 10px 25px;
  border-radius: 40px;
  background-color: #E02C6D;
  border: none;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  transition: background-color 0.4s;
}

.basic-btn:hover {
  background-color: #c0255f;  
}

.inter-font{
      font-family: 'Inter', sans-serif;
}

.hide{
  display: none;
}

/* header */
header{
  min-height: 100vh;
}

/* Navbar Style */
nav{
  margin: 50px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2{
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

nav li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition:color 0.4s;
}

nav li a:hover{
  color: #E02C6D;
}

.icons{
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.icons i{
  font-size: 1.2rem;
}

/* Responsive Navbar */

@media screen and (max-width: 576px){
  nav,
  nav ul
  {
    flex-direction: column;
    text-align: center;
  }

  nav h2{
    margin-bottom: 20px;
  }

  nav{
    margin-top: 50px;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 992px){
  nav
  {
    flex-direction: column;
    text-align: center;
  }

  nav h2{
    margin-bottom: 20px;
  }
}

/* Banner Section */

.banner-sec{
  margin: 50px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-txt{
  width: 60%;
}

.banner-txt h1{
  font-size: 3.3rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.banner-txt p{
  color: #3A3A3A;
  font-weight: 600;
  margin-bottom: 16px;
  width: 70%;
}

.banner-img
{
  background-image: url(./images/Circle\ design.svg);
  background-size: cover;
  background-position: center;
}

.banner-img img{
  width: 100%;
}

/* Responsive Banner */

@media screen and (max-width: 576px){
  
  .banner-sec{
    margin: 20px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }

  .banner-txt{
    width: 100%;
  }

  .banner-txt h1{
    font-size: 1.8rem;
  }

  .banner-txt p{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
  }

}

@media screen and (min-width: 576px) and (max-width: 992px)
{

  .banner-sec{
    margin: 80px 100px;
  }

    .banner-txt{
    width: 80%;
  }

    .banner-txt h1{
    font-size: 2rem;
  }

  .banner-txt p{
    font-size: 1 rem;
    width: 80%;
  }
}

/* Sponser section */

.sponser-sec{
  margin: 70px 165px;
  border-top: 1px solid #C0CCDA ;
  border-bottom: 1px solid #C0CCDA ;
}

.all-sponser{
  padding: 30px 60px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-items: center;
}

/* Responsive sponser */

@media screen and (max-width: 576px){
 
  .sponser-sec{
  margin: 40px 20px;
}

  .all-sponser{
    grid-template-columns: repeat(3,1fr);
    padding: 20px 10px;
    row-gap: 30px;
    column-gap: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px){

  .sponser-sec{
  margin: 0px 100px;
}

  .all-sponser{
    grid-template-columns: repeat(4,1fr);
    padding: 30px 40px;
    row-gap: 30px;
    column-gap: 20px;
  }

}

/* Collection section */

.collection-sec{
  margin: 100px 200px;

}

.collection-sec h2{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.all-product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.product{
  background-color: white;
  border-radius: 5px;
  padding: 17px 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15) ;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product img{
  border-radius: 5px;

}

.product h3{
  font-size: 1.8rem;
  font-weight: 500;
}

.product h4{
  font-size: 1.5rem;
  font-weight: 100;
}

.product p{
  font-size: 14px;
  color:#787885 ;
}

.star-icon{
  display: flex;
  align-items: center;
}

.star-icon h4{
  font-size: 1rem;
  margin-left: 5px;
}

.star-icon i{
    color: #FFD700;
}

.see-more{
  color: rgba(224, 44, 109, 0.87) ;
  display: flex;
  gap: 5px;
  justify-content: end;
  margin-top: 30px;
  margin-right: 50px;
  font-size: 1.2rem;
}

/* Responsive collection */

@media screen and (max-width: 576px){
  .collection-sec{
  margin: 30px 10px;
}

.all-product{
  grid-template-columns: repeat(1,1fr);
}

.see-more{
  justify-content: center;
}

}

@media screen and (min-width: 576px) and (max-width: 992px){
  .collection-sec{
  margin: 0px 80px;
  margin: 0 auto;
  margin-top: -300px;
  margin-bottom: 100px;
}

.all-product{
  grid-template-columns: repeat(2,1fr);

}
}

@media screen and (min-width: 992px) and (max-width: 1400px)
{
  .collection-sec{
  margin: 100px 80px;
}
}

/* feature section */

.feature-sec{
  margin:100px 165px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius:5px ;
  gap: 50px;
}

.feature-txt{
  width: 60%;
}

.feature-txt h1{
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature-txt p{
  color: #6C6C6C;
  width: 70%;
  margin-bottom: 20px;
}

/* Responsive Feature  */

@media screen and (max-width: 576px){
  
.feature-sec{
  flex-direction: column;
  margin:30px ;
}

.feature-img {
  width: 100%;
}
.feature-img img{
  width: 100%;
}

.feature-txt,
 .feature-txt h1, 
 .feature-txt p{
width: 100%;
  text-align: center;
}

}


@media screen and (min-width: 576px) and (max-width: 992px){

  .feature-sec{
  flex-direction: column;
  margin:100px ;
}

.feature-img {
  width: 100%;
}
.feature-img img{
  width: 100%;
}

.feature-txt,
 .feature-txt h1, 
 .feature-txt p{
width: 100%;
  text-align: center;
}
}